@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
	font-family: 'Samsung';
	src: url(/font/SamsungImagination.otf);

}

html {
	background-color: #1F1F1F;
}

body {
	font-family: "Source Sans Pro";
	color: #353535;
	font-size: 25px;
}

a {
	color: inherit;
	text-decoration: none;
}

.shiftBox {
	background: url(/images/03.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.shiftBox>header {
	height: 120px;
	background-color: white;
	width: 100%;
	overflow: hidden;
}

.shiftBox>header .logo {
	height: 75px;
	padding: 23px 0 0 35px;
}

.shiftBox>header nav {
	font-family: Inconsolata;
	width:200px;
	margin: -45px auto 0 auto;
	display: block;
	text-align: center;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shiftBox>header>h3 {
	font-family: Inconsolata;
	font-size: 0.9em;
	display: inline;
	top: 38px;
	font-weight: 400;
	position: absolute;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.shiftBox>header>h3:hover,
.shiftBox>header>h3 *:hover {
	color: #993A2D;
}

.shiftBox>header .avatar {
	-webkit-filter: grayscale(60%);
	opacity: 0.4;
	margin: -50px 0 0 0;
	min-width: 120px;
	max-width: 180px;
	width: auto;
	min-height: 120px;
	max-height: 180px;
	height: auto;
}

.shiftBox>header .login {
	right: 140px;
}

.shiftBox>header .register {
	right: 50px;
}

h1 {
	font-size: 5em;
	font-weight: 700;
	color: white;
}

h2 {
	font-size: 3.5em;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-size: 2.3em;
	font-weight: 700;
}

h4 {
	font-family: Samsung;
	font-size: 1em;
	font-weight: 700;
	margin: 0;
}

h5 {
	font-family: Samsung;
	font-size: 1em;
	font-weight: 400;
	margin: 15px 0 0 0;
}

h6 {
	font-size: 1.3em;
	margin: 0;
	color: white;
}


.titleArea {
	height: 730px;
	width: 100%;
	box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.4);
	text-shadow: 0px 4px 0px rgba(0,0,0,0.4);
	-webkit-text-shadow: 0px 4px 0px rgba(0,0,0,0.4);
	-moz-text-shadow: 0px 4px 0px rgba(0,0,0,0.4);
}

#titleBox {
	width: 940px;
	height: 100%;
	margin: 0 auto;
}

#titleBox h1 {
	margin: 270px auto 0 auto;
	height: 120px;
	width: 930px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}



.reportArea {
	width: 100%;
	padding: 30px 0;
	background-color: #dbbf56;
}

#reportBox {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}



.projectArea {
	height: 1050px;
	width: 100%;
	background-color: white;
}

#projectBox {
	width: 1500px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 120px 0 0 0;
}

#projectBox h4 {
	margin: 0 0 100px 0;
}

.projectHolder {
	vertical-align: top;
}

.projectHolder img {
	height: auto;
	max-width: 120px;
	z-index: 20;
	position: absolute;
}

.smallThumb img {
	margin: 35px 0 0 -50px;
}

.largeThumb img {
	margin-left: -60px;
	margin-top: 30px;
}

.project {
	width: 210px;
	height: 210px;
	display: inline-block;
	margin: 0 80px 0 80px;
	border-radius: 105px;
	background-color: #F0F0F0;
	-webkit-transition: background-color 2s;
	transition: background-color 2s;
}

.circle {
	width: 180px;
	height: 180px;
	background-color: white;
	display: block;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 90px;
	margin: 15px 0 0 15px;
}

.orangeBackground:hover {
	background-color: #FFA060;
}

.greenBackground:hover {
	background-color: #4EB666;
}

.redBackground:hover {
	background-color: #E2544F;
}

.blueBackground:hover {
	background-color: #7FC9FF;
}



.projectDesc {
	width: 210px;
	margin: 5px 80px 0 80px;
	display: inline-block;
	position: relative;
	height: 430px;
	padding-top: 5px;
	vertical-align: top;
}

.projectDesc section {
	width: auto;
	display: inline-block;
}

.projectDesc a {
	color: inherit;
	width: 100%;
	display: block;
}

.projectDesc h5 {
	width: auto;
	display: inline-block;
}

.projectDesc h5::after {
	content: '';
	height: 3px;
	width: 80%;
	position: relative;
	margin: 0;
	z-index: 1;
	bottom: -5px;
	left: 10%;
	display: block;
}

.projectDesc p {
	font-family: Samsung;
	font-size: 0.7em;
	font-weight: 400;
}

.colorUnderline {
	border-top: 3px solid;
	width: 70%;
	height: 1px;
	margin: 0 auto;
}

.orangeUnderline::after {
	background-color: #FFA060;
}

.greenUnderline::after {
	background-color: #4EB666;
}

.redUnderline::after {
	background-color: #E2544F;
}

.blueUnderline::after {
	background-color: #7FC9FF;
}



.teamArea {
	width: 100%;
	height: 611px;
}

.teamBox {
	width: 100%;
	height: 500px;
	display: flex;
	margin: 0 auto;
	background-color: #993A2D;
}

.teamArea header {
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
}

.teamArea header>img {
	width: 20%;
	height: 92px;
	margin: 0 auto;
	position: absolute;
	left: 40%;
}

.wrapTop {
	width: 100%;
	height: 20px;
	background-color: #993A2D;
}

.wrapSide {
	width: 40%;
	height: 91px;
	background-color: #993A2D;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}



.members {
	width: 1200px;
	margin: 80px auto 0 auto;
	vertical-align: top;
}

.member {
	width: 33%;
	display: inline-block;
}

.member img {
	margin: 0 auto;
	width: 28%;
	position: relative;
	left: 36%;
}

.forumArea {
	width: 100%;
	height: 300px;
	background-color: rgba(250, 250, 250, 0.3);
	clear: both;
	position: relative;
	display: inline;
}

.forumArea h2 {
	width: 300px;
	text-align: center;
	margin: 0 auto;
	padding: 100px 0 0 0;
	color: white;
	padding: 10px 0 0 0;
	font-size: 2.5em;
	visibility: visible;
}

.forumBox {
	width: 800px;
	height: 100px;
	background-color: green;
	margin: 0 auto;
}

.forumBox a>h3 {
	font-size: 1.0em;
	color: inherit;
}

.forumArea .onlineUser {
	position: relative;
	bottom: 0;
	height: 45px;
}

.forumArea .onlineUser>div {
	height: 45px;
	/*width: 45px;*/
	background-color: transparent;
	text-align: center;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	float: left;
}

.forumArea .onlineUser>div>img {
	height: 35px;
	width: auto;
	max-width: 40px;
}

.forumArea .onlineUser>div>a {
	display: none;
	color: white;
	vertical-align: top;
}

.forumArea .onlineUser>div:nth-child(4n):hover {
	background-color:  #FFA060;
}

.forumArea .onlineUser>div:nth-child(4n+1):hover {
	background-color:  #4EB666;
}

.forumArea .onlineUser>div:nth-child(4n+2):hover {
	background-color:  #E2544F;
}

.forumArea .onlineUser>div:nth-child(4n+3):hover {
	background-color:  #7FC9FF;
}



#signupBox {
	width: 850px;
	margin: 0 auto;
	background-color: white;
	height: 650px;
}

#signupBox>form>h5 {
	margin: 10px 0px 15px -125px;
	width: 850px;
	background-color: #993A2D;
	color: white;
	padding: 10px 0;
	overflow: hidden;
	height: 0px;
}

#signupBox>form {
	padding: 0 30px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#signupBox>form>* {
	display: block;
}

#signupBox>form>input {
	font-family: Samsung;
	width: 320px;
	margin: 0 auto 20px auto;
}

#signupBox>form>label {
	font-family: Samsung;
}

#signupBox>form>input[type='text'],
#signupBox>form>input[type='password'] {
	border: 0px;
	border-bottom: 2px solid black;
}

#signupBox>form input[type='submit'] {
	border-radius: 0px;
	border: 2px solid black;
	background-color: white;
	color: black;
}

#signupBox>form input[type='submit']:hover {
	border-color: white;
	background-color: black;
	color: white;
}

#emailSU {
	width: 320px;
}

#usernameSU {
	width: 260px;
}



#profileBox {
	width: 850px;
	margin: 0 auto;
	background-color: white;
	height: 650px;
	padding: 20px 0;
}

#profileBox h2 {
	font-size: 2.1em;
	padding: 0 10px 5px 20px;
	background-color: #993A2D;
	color: white;
	line-height: 50px;
	box-shadow: inset -2px 4px 0px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset -2px 4px 0px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset -2px 4px 0px 0px rgba(0,0,0,0.4);
	text-shadow: -2px 4px 0px rgba(0,0,0,0.4);
	-webkit-text-shadow: -2px 4px 0px rgba(0,0,0,0.4);
	-moz-text-shadow: -2px 4px 0px rgba(0,0,0,0.4);
}

#profileBox #userAvatar {
	background-color: #993A2D;
	height: 200px;
	width: auto;
	max-width: 200px;
	box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.4);
}

#profileBox #userAvatar>img {
	height: 180px;
	width: auto;
	max-width: 180px;
}

#profileBox #interactionMenu {
	width: 320px;
	height: 120px;
	clear: left;
}

#profileBox #interactionMenu form {
	margin: 5px 0 0 30px;
	width: 100%;
	display: block;
}

#profileBox #interactionMenu input[type='button'],
#profileBox #interactionMenu input[type='submit'] {
	border: 2px solid black;
	background-color: white;
	height: 35px;
	padding: 0 10px;
	font-family: Samsung;
	font-size: 0.8em;
	font-weight: 400;
	color: black;
	margin: 5px 10px;
}

#profileBox #interactionMenu input[type='button']:hover,
#profileBox #interactionMenu input[type='submit']:hover {
	border: 2px solid white;
	background-color: black;
	color: white;
}

#profileBox #interactionMenu input[type='file'] {
	border: 2px solid black;
	font-size: 0.8em;
	font-family: samsung;
}



footer {
	font-family: Inconsolata;
	font-size: 0.7em;
	background-color: #1F1F1F;
	width: auto;
	height: 200px;
	bottom: 0;
	padding: 3px 0 0 130px;
	color: white;
	display: flex;
	flex-wrap: wrap-reverse;
}

footer .nav {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

footer i {
	font-size: 0.8em !important;
}

footer ul {
	list-style: none;
	width: 500px;
}

footer li::before {
	content: '>';
	padding: 0 3px 0 0;
}

footer li>input[type='text'],
footer li>input[type='password'] {
	border: 0px;
	background-color: transparent;
	color: inherit;
	width: 180px;
	border-bottom: 1px solid white;
	font-family: Inconsolata;
	font-size: 18px;
	font-weight: inherit;
}

footer label>.inputPadding {
	display: inline-block;
	height: 18px;
	width: 60px;
}

footer .loginSubmit {
	border: 1px solid white;
	border-radius: 0px;
	background-color: transparent;
	margin: 12px;
	padding: 3px 10px 3px 10px;
	color: white;
	font-family: inherit;
	text-align: center;
}

footer .loginSubmit:hover {
	background-color: white;
	color: #1F1F1F;
}

footer a {
	display: block;
	width: 70px;
	margin-top: 0px !important;
}



.centerColumn {
	width: 900px;
	background-color: #993A2D;
	margin: 0 auto;
}



.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	font-family: samsung;
	font-size: 0.8em;
	border: 2px solid black;
	border-right: 1px solid black;
	background-color: white;
	color: black;
	width: 120px;
	height: 25px;
	padding: 5px;
}

.fileUpload:hover {
	border: 2px solid white;
	border-right: 1px solid black;
	background-color: black;
	color: white;
}

.fileUpload input[type='file'] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

.fileSend {
	height: 39px !important;
	margin: 10px 0 !important;
	border-left: 1px solid black !important;
}



@keyframes blink {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}

.blink {
	animation: blink 1.5s steps(5, start) infinite;
	-webkit-animation: blink 1.5s steps(5, start) infinite;
}

.note {
	width: auto;
	height: 30px;
	background-color: white;
	margin: 5px 0 15px 0;
	padding: 5px 10px 5px 20px;
	border-right-width: 4px;
	border-right-style: solid;
	color: inherit;
	display: inline-block;
	font-family: Samsung;
}

.note:nth-child(4n+0) {
	border-right-color: #FFA060;
}

.note:nth-child(4n+1) {
	border-right-color: #4EB666;
}

.note:nth-child(4n+2) {
	border-right-color: #E2544F;
}

.note:nth-child(4n+3) {
	border-right-color: #7FC9FF;
}